
[mysqld]
user                                 = www-data
basedir                              = /usr/local/mysql
bind-address                         = 0.0.0.0
character-set-server                 = utf8mb4
collation-server                     = utf8mb4_0900_ai_ci
datadir                              = /var/www/mysql_server/datadir
pid-file                             = /var/www/mysql_server/mysql.pid
port                                 = 3306
socket                               = /var/www/mysql_server/mysql.sock
tmpdir                               = /var/www/mysql_server/tmpdir
tls_version                          = TLSv1.2,TLSv1.3
skip_name_resolve                    = ON
log_timestamps                       = SYSTEM
default-time-zone                    = '+8:00'

max_connections                      = 1000
max_user_connections                 = 0
wait_timeout                         = 7200
interactive_timeout                  = 7200


# --------------------------
# Query & Logging
# --------------------------
general_log                          = 0
general_log_file                     = /var/www/mysql_server/mysql_general.log
slow_query_log                       = 1
slow_query_log_file                  = /var/www/mysql_server/mysql_slow.log

# 日志输出目标 (FILE 是输出到文件，TABLE 是输出到 mysql.slow_log 表中，默认是 FILE)
log_output = FILE

# 慢查询阈值，单位为秒
long_query_time                      = 2

# 记录没有使用索引的查询 (强烈推荐开启，有助于发现潜在性能问题)
log_queries_not_using_indexes        = 1

# 限制每分钟记录的未命中索引的 SQL 数量 (可选，推荐)，防止日志文件因大量未使用索引的小查询而暴增
log_throttle_queries_not_using_indexes = 30

log_error                            = /var/www/mysql_server/mysql_error.log

# 每次事务同步binlog（安全但略慢）
sync_binlog = 1

# binlog保留秒数
binlog_expire_logs_seconds = 1209600

# --------------------------
# Memory & Buffers (核心优化区)
# --------------------------

# InnoDB核心缓存，建议占内存的50%-70%
innodb_buffer_pool_size = 2G

# 缓冲池实例数（建议等于CPU核心数）
innodb_buffer_pool_instances = 2

# 日志缓冲区大小
innodb_log_buffer_size = 64M

# 排序缓冲区
sort_buffer_size = 2M

# 顺序读缓冲区
read_buffer_size = 1M

# 随机读缓冲区
read_rnd_buffer_size = 2M

# 临时表内存大小
tmp_table_size = 64M

# 内存表最大大小
max_heap_table_size = 64M


# --------------------------
# InnoDB Engine
# --------------------------

# 事务提交时刷写日志（1=安全，2=性能优先）
innodb_flush_log_at_trx_commit = 1

# 直接IO，避免双缓冲
innodb_flush_method = O_DIRECT

# 替换旧参数：innodb_log_files_in_group（已弃用）、innodb_log_file_size（已弃用）
innodb_redo_log_capacity = 1G

# SSD建议2000-4000，HDD建议200-400
innodb_io_capacity = 2000

# --------------------------
# MySQL 8.4 (https://blog.csdn.net/qq_39430356/article/details/138445902)
# --------------------------

innodb_adaptive_hash_index = 0


[mysql]
bind-address                         = 0.0.0.0
default-character-set                = utf8mb4
local-infile                         = 0
port                                 = 3306
socket                               = /var/www/mysql_server/mysql.sock
safe-updates                         = 1
max-allowed-packet                   = 128M

[mysqlshow]
default-character-set                = utf8mb4

[mysqld_safe]
open-files-limit                     = 32768
log-error                            = /var/www/mysql_server/mysql_error.log

[mysqldump]
bind-address                         = 0.0.0.0
comments                             = 1
default-character-set                = utf8mb4
max-allowed-packet                   = 128M
port                                 = 3306
quick                                = 1
socket                               = /var/www/mysql_server/mysql.sock

[mysqlimport]
bind-address                         = 0.0.0.0
default-character-set                = utf8mb4
port                                 = 3306
socket                               = /var/www/mysql_server/mysql.sock

[mysqlcheck]
default-character-set                = utf8mb4

[mysql_upgrade]
default-character-set                = utf8mb4
