
[mysqld]
user                                 = www-data
basedir                              = /usr/local/mysql/
bind-address                         = 0.0.0.0
character-set-server                 = utf8mb4
collation-server                     = utf8mb4_unicode_ci
datadir                              = /var/www/mysql_data/
general-log                          = 1
general-log-file                     = /var/www/runlogs/mysql_general.log
pid-file                             = /var/www/mysql.pid
port                                 = 3306
slow-query-log-file                  = /var/www/runlogs/mysql_slow.log
socket                               = /var/www/mysql.sock
tmpdir                               = /var/www/mysql_temp/

[mysql]
bind-address                         = 0.0.0.0
default-character-set                = utf8mb4
local-infile                         = 1
port                                 = 3306
socket                               = /var/www/mysql.sock
safe-updates                         = 1
max-allowed-packet                   = 16M

[mysqld_safe]
open-files-limit                     = 65535

[mysqldump]
bind-address                         = 0.0.0.0
comments                             = 1
default-character-set                = utf8mb4
max-allowed-packet                   = 64M
port                                 = 3306
quick                                = 1
socket                               = /var/www/mysql.sock

[mysqlimport]
bind-address                         = 0.0.0.0
default-character-set                = utf8mb4
port                                 = 3306
socket                               = /var/www/mysql.sock
